/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "partials/variables";
@import "partials/mixins";

/* sprite generation */
@import "sprites/general/*.png";
@include all-general-sprites;

@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";


body, p, span, div {
  color: $body-copy;
}

.section-title {
  @include font-large(bold);
  color: $header-copy;
  & > span {
    font-style: italic;
    color: $header-copy;
  }
}
.nav-item {
  height: 33px;
  float: left;
  &.nav-item-left {
    width: 152px;
  }
  &.nav-item-right {
    width: 18px;
  }
}

li {
  float: left;
}

.container-wrapper {
  background-color: #000;
  min-width: 1000;
  height: 100%;
  min-height: 800px;
  @include image-background('../images/background.jpg');
}

.content-wrapper {
  overflow: hidden;
}

.logo {
  min-width: 800px;
  min-height: 600px;
  @include image-background('../images/logo.png');
  background-repeat: no-repeat;
  overflow: visible;
  position: absolute;
  z-index: 0;
}
.container {
  padding-top: 163px;
  position: relative;
}

.textured {
  @include image-background('../images/content-texture.jpg', top, left, repeat-x);
  background-color: #121214;
  height: 365px;
}

.header-texture {
  @include image-background('../images/header-texture.jpg', top, left, repeat-x);
  background-color: #000;
  height: 12px;
  @include border-top-left-radius(10px);
  @include border-top-right-radius(10px);
}

.navigation {
  & > .span11 {
    margin-left: 30px;
  }
}

.nav-listitem {
  max-width: 33%;
}

.footer-container {
  padding-top: 0px;
}
.gutter {
  & > .gutter-top_corner {
    width: 9px;
    height: 36px;
  }
  
  &.gutter-left {
    
    float:left;
    margin-left: -20px;
    & > .gutter-top_corner,  & > .gutter-repeat {
     margin-left: 11px;
    }
  }
  
  &.gutter-right {
    float: right;
    /* hate the way I've done this */
    margin-right: -9px;
    margin-top: -365px;
    & > .gutter-top_corner,  & > .gutter-repeat {
       @include scale( -1, 1 );
    }
  }
  
  & > .gutter-repeat {
    height: 329px;
    @include image-background('../images/gutter-repeat.png', top, left, repeat);
  }
  
  &.gutter-base {
    background-size: 100%;
    height: 8px;
    width: 100%;
    position: relative;
    margin: auto;
    @include single-box-shadow(rgba(0, 0, 0, 0.8), 0, 0, 15px, 4px);
    border-bottom: 2px solid #000;
    
    &> .gutter-base-detail {
      
      @include image-background('../images/header-texture.jpg', center, center, repeat);
      width: 100%;
      height: 100%;
      position: relative;
      
      & > .gutter-shadow_internal {
        
        position: absolute;
        height: 100%;
        width: 40px;
        z-index: 1;
        &.shadow-left { 
          @include background-image(linear-gradient(left, #000000, rgba(0, 0, 0, 0)));
          left: 0px;
        }
        &.shadow-right {
          @include background-image(linear-gradient(right, #000000, rgba(0, 0, 0, 0)));
          right: 0px;
        }
      }
      
      
      & > hr {
        margin: 0px;
        position: absolute;
        z-index: 0;
        padding-top: 1px;
        width: 100%;
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
      }
    }
    
  }
  
}

footer {
  overflow-y: hidden;
}

.drop-shadow {
  @include single-box-shadow(rgba(0, 0, 0, 0.8), 0, 20px, 60px, 30px);
}

.drop-shadow-multiple {
  @include box-shadow(rgba(black, 0.4) 0 0 35px 25px, rgba(white, 0.75) 7px 0 7px -6px inset);
}

.tab-content {
  position: relative;
}

.repo-listitems {
  height: 220px;
  overflow: auto;
  width: 100%;
  & > .repo-listitem {
    border-bottom: 1px solid rgba(gray, 0.5);
    color: gray;
    @include font-regular(normal);
    width: 100%;
    float: left;
    min-height: 28px;
    line-height: 28px;
    & > .repo-listitem_left {
      float: left;
      width: 75%;
    }
    & > .repo-listitem_right {
      float: right;
      width: 25%;
      text-align: right;
    }
  }
}

//ensure it's hidden until load
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
/* bootstrap overrides */
form {
  & > .control-group {
    margin-top: 18px;
    margin-bottom: 12px;
  }
  
   & > .control-group ~ .control-group {
    margin-top: 0px;
  }
  
  & > .control-group.btn-group {
    width: 78%;
    margin-left: 20%;
  }

}

input {
  
  border-color: $input-border-color;
  &.input-xlarge-override.input-xlarge {
    @include font-regular(normal);
    @include border-radius(1px);
    width: 75%;
    margin-bottom: 0px;
  }
}

.btn-small {
  margin-left: 12%;
  margin-top: 2%;
  width: 73%;
    
   
  &.nav-btn, &.form-btn {   
    @include background-image(linear-gradient(top, #d4b765 75%, rgba(135, 49, 22, .5), #d4b765));
    @include font-large(bold, italic);
    @include single-box-shadow(rgba(135, 49, 22, 1), 0, 0, 12px, 6px, inset);
    min-height: 23px;
    line-height: 23px;
    color: $btn-copy;
    &:hover {
      opacity: 0.75;
      background-position: 0 0px;
    }
  }
  
  &.nav-btn {
    border-color: #b3a5a2;
  }
  &.form-btn {
    margin-top: 0px;
    float: right;
    @include border-radius(6px);
    @include single-box-shadow(rgba(135, 49, 22, 1), 0, 0, 6px, 3px, inset);
    border-color: rgba(135, 49, 22, 1);
    @include font-large(bold);
    text-transform: uppercase;
    width: 88px;
  }
}

 
  
 
.btn.btn-small.nav-btn {
}

.padded {
  padding: 48px 36px;
  & > p {
    @include font-regular(normal);
  }
}

.controls {
  .control-label {
    @include font-regular(normal);
    float: left;
    line-height: 30px;
    width: 20%;
  }
}

 